In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv("students_placement.csv")
###############################
##############################

In [2]:
df.shape

(300, 4)

In [3]:
df.sample(5)

     cgpa   iq  profile_score  placed
208  6.44  114             42       0
261  7.51   90             69       1
234  7.86  101             70       0
257  5.54  107             76       0
97   7.32  101             69       1

In [4]:
X=df.drop(columns=["placed"])
Y=df["placed"]

# Without Scaling

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=.25,random_state=2)

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score


# scaler=StandardScaler()
# x_train_scaled=scaler.fit_transform(x_train)
# x_test_scaled= scaler.transform(x_test)
LG=LogisticRegression().fit(x_train,y_train)
y_pred=LG.predict(x_test)
accuracy_score(y_test,y_pred)



result=LG.predict(np.array([[6,96,32]]))
result[0]

C:\Users\abc\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

1

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=.25,random_state=2)

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score


scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled= scaler.transform(x_test)
LG=LogisticRegression().fit(x_train_scaled,y_train)
y_pred=LG.predict(x_test_scaled)
accuracy_score(y_test,y_pred)

result=LG.predict(scaler.transform([[6,96,32]]))

result[0]

C:\Users\abc\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

1

# pickeling and unpickeling

In [8]:
import pickle
pickle.dump(LG,open("model.pkl","wb"))

In [9]:
df.sample(10)

     cgpa   iq  profile_score  placed
192  5.60  109             57       0
262  6.79  102             55       1
150  5.67  103             68       0
186  7.52  110             51       0
36   7.93   94             53       1
236  5.86  105             43       0
167  5.13  114             83       0
73   5.52  107             78       0
3    5.54  113             68       0
211  5.64  110             51       0

In [10]:
LG.predict(np.array([[0, 0,0]]))

array([1], dtype=int64)