In [21]:
import numpy as np 
import pandas as pd
#C:\Users\abc\OneDrive\Desktop\Flask 1.2 Placement Project 2023-03-14\Projetc_1_placement
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [22]:
df=pd.read_csv(r"C:\Users\abc\OneDrive\Desktop\Flask 1.2 Placement Project 2023-03-14\Projetc_1_placement\students_placement.csv")
df

     cgpa   iq  profile_score  placed
0    5.97  106             61       0
1    6.83  113             77       0
2    6.60  110             61       0
3    5.54  113             68       0
4    6.84  102             67       0
..    ...  ...            ...     ...
295  6.44  107             54       0
296  6.09  108             52       0
297  7.68  101             70       1
298  7.00   90             28       1
299  4.79  118             70       0

[300 rows x 4 columns]

In [23]:
x=df.iloc[:,0:-1]
y=df.iloc[:,-1]

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=.75,random_state=2)

In [25]:
from sklearn.preprocessing import StandardScaler
s=StandardScaler()
x_train_scaled=s.fit_transform(x_train,y_train)
x_test_scaled=s.transform(x_test)

In [28]:
log=LogisticRegression()
l=log.fit(x_train_scaled,y_train)
y_pred_scaled=log.predict(x_test_scaled)

In [30]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_scaled)

0.88

In [39]:
l.predict(np.array([[7.00,90,28]]))

array([0], dtype=int64)

In [40]:
import pickle
pickle.dump(l,open("model1.pickle","wb"))